In [1]:
import pandas as pd

C:\Users\abooth\AppData\Local\Continuum\anaconda3\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\abooth\AppData\Local\Continuum\anaconda3\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
C:\Users\abooth\AppData\Local\Continuum\anaconda3\lib\site-packages\numpy\.libs\libopenblas.XWYDX2IKJW2NMTWSFYNGFUWKQU3LYTCZ.gfortran-win_amd64.dll
  stacklevel=1)

In [2]:
filepath = "Resources/election_data.csv"
df = pd.read_csv(filepath, low_memory=False)
df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3521001 entries, 0 to 3521000
Data columns (total 3 columns):
 #   Column     Dtype
---  ------     -----
 0   Voter ID   int64
 1   County     object
 2   Candidate  object
dtypes: int64(1), object(2)
memory usage: 80.6+ MB

In [4]:
df.shape

(3521001, 3)

In [5]:
len(df)

3521001

In [6]:
df.Candidate.value_counts()

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [7]:
df.Candidate.value_counts() / len(df)

Khan        0.63
Correy      0.20
Li          0.14
O'Tooley    0.03
Name: Candidate, dtype: float64

In [15]:
df.Candidate.value_counts().idxmax()

'Khan'